:root {
    --font-system: Inter,
        Roboto,
        'Helvetica Neue',
        'Arial Nova',
        'Nimbus Sans',
        Arial,
        sans-serif;
}

body {
    font-family: var(--font-system);
    color: var(--color-text);
    background: var(--color-bg);
}