@use "utopia-core-scss/src/utopia" as utopia;

/* @link https://utopia.fyi/type/calculator?c=360,18,1.2,1920,18,1.25,8,3,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  @include utopia.generateTypeScale(
    (
      "minWidth": 360,
      "maxWidth": 1920,
      "minFontSize": 18,
      "maxFontSize": 18,
      "minTypeScale": 1.2,
      "maxTypeScale": 1.25,
      "positiveSteps": 8,
      "negativeSteps": 3,
      "prefix": "step-",
      "relativeTo": "viewport-width",
    )
  );
}

/* @link https://utopia.fyi/space/calculator?c=360,18,1.2,1920,18,1.25,8,3,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  @include utopia.generateSpaceScale(
    (
      "minWidth": 360,
      "maxWidth": 1920,
      "minSize": 18,
      "maxSize": 18,
      "positiveSteps": (
        1.5,
        2,
        3,
        4,
        6,
      ),
      "negativeSteps": (
        0.75,
        0.5,
        0.25,
      ),
      "customSizes": (
        "s-l",
      ),
      "prefix": "space-",
      "relativeTo": "viewport-width",
    )
  );
}
