---
// ./src/pages/post/[slug].astro
import type { SanityDocument } from "@sanity/client";
import { loadQuery } from "../../sanity/lib/load-query";
import { postSlugsQuery, postBySlugQuery } from "../../sanity/lib/queries";
import Layout from "../../layouts/Layout.astro";
import PortableText from "../../components/PortableText.astro";

export async function getStaticPaths() {
  const { data: posts } = await loadQuery<SanityDocument[]>({
    query: postSlugsQuery,
  });

  return posts.map(({ slug }) => {
    return {
      params: {
        slug: slug,
      },
    };
  });
}

// Zorg dat deze route SSR is (niet statisch)
export const prerender = false;

const { params } = Astro;
// Gebruik Astro.request.url voor query parameters in SSR mode
const requestUrl = new URL(Astro.request.url);
console.log("Post page Debug:", {
  requestUrl: Astro.request.url,
  parsedUrl: requestUrl.toString(),
  searchParams: Object.fromEntries(requestUrl.searchParams),
  hasPreview: requestUrl.searchParams.has("preview"),
});
const { data: post } = await loadQuery<{ title: string; body: any[] }>({
  query: postBySlugQuery,
  params,
  searchParams: requestUrl.searchParams,
});
---

<Layout>
  <main>
    <div class="hero">
      <h1>{post.title}</h1>
    </div>
    <PortableText portableText={post.body} />
  </main>
</Layout>
